# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/*/lib64/
/lib/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Data
*.sqlite3
*.db
